DISCORD_TOKEN=BOT_TOKENİN
BOT_STATUS=online
BOT_OWNER_ID=
BLACKLIST_SERVER_IDS= # Virgülle ayırarak eklediğiniz sunucu ID'lerinde mesaj, ses, üye ve komut etkileşimleri gibi olaylar çalışmaz, boş bırakırsanız bu filtre hiçbir sunucuyu engellemez.
IGNORE_BOT_EVENTS=false # true yaparsanız bot hesaplarından geldiği belirlenen olaylar yok sayılır, false yaparsanız bu genel filtre kapanır, ancak sunucu engelleri ve modüllerin kendi bot kontrolleri geçerli kalır.


# ℹ️ Aşağıdaki hiçbir API Key zorunlu değildir, sadece bazı komutlarda ihtiyaç olunduğu için komutu kullandıktan sonra hatayla karşılaşabilirsiniz.
ABUSEIPDB_API_KEY=https://www.abuseipdb.com/ #💡 "/ip-sorgu" komutunda kullanılır.
IPINFO_TOKEN=https://ipinfo.io/ #💡 "/ip-sorgu" komutunda kullanılır.
OPENWEATHER_API_KEY=https://openweathermap.org/ #💡 "/ip-sorgu" komutunda kullanılır.
API_NINJAS_KEY=https://api-ninjas.com/ #💡 "/domain-sorgu" komutunda kullanılır.
SCREENSHOTMACHINE_KEY=https://www.screenshotmachine.com/website-screenshot-api.php #💡 "/domain-sorgu" komutunda kullanılır.


# ℹ️ Database Sistemi ile ilgili anlatım ve kurulum dosyaları için "discord.gg/tkp"ye gelip ZIP dosyasını isteyebilirsiniz.
JSON_DB_ENABLED=true
MONGODB_ENABLED=false
MONGODB_URI=
MONGODB_DATABASE=
MONGODB_TIMEOUT_MS=30000


# ℹ️ Web Dashboard ile ilgili tanıtım ve kurulum dosyaları için "discord.gg/tkp"ye gelip ZIP dosyasını isteyebilirsiniz.
DASHBOARD_ENABLED=false
DASHBOARD_USERNAME=
DASHBOARD_PASSWORD_HASH=
DASHBOARD_SESSION_SECRET=
DASHBOARD_PORT=3000
DASHBOARD_HOST=127.0.0.1

# ℹ️ HTTP Ters Vekil ile ilgili tüm tanıtım ve kurulum dosyaları için "discord.gg/tkp"ye gelip ZIP dosyasını isteyebilirsiniz.
DASHBOARD_HTTPS=false
DASHBOARD_TRUST_PROXY=false
DASHBOARD_ALLOWED_HOSTS=

# ℹ️ Local ve Public modlarının tüm tanıtım ve kurulum dosyaları için "discord.gg/tkp"ye gelip ZIP dosyasını isteyebilirsiniz.
DASHBOARD_MODE=local
DASHBOARD_PUBLIC_URL=
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
DISCORD_OAUTH_REDIRECT_URI=

# ⚠️ OPEN SOURCE VE LİSANSLI ALTYAPI, ORDA BURDA BEN YAPTIM DİYE GEZMEYİN. ⚠️